<template>
  <div class="home">
    <header>
			<div class="bar_nav">
				<ul>
					<li class="lista activo">
						<a href="#">
							<span class="titulo">Inicio</span>
						</a>
					</li>
				</ul>
				<ul>
					<li class="lista">
						<a href="#">
							
							<span class="titulo">Información materiales</span>
						</a>
					</li>
				</ul>
				<ul>
					<li class="lista">
						<a href="#">
							
							<span class="titulo">Recompensas</span>
						</a>
					</li>
				</ul>
				<ul>
					<li class="lista">
						<a href="#">
							<span class="icono">
							</span>
							<span class="titulo">Ranking R3</span>
						</a>
					</li>
				</ul>
				<ul>
					<li class="lista">
						<a href="#">
							
							<span class="titulo">Sobre nosotros</span>
						</a>
					</li>
				</ul>
				<ul>
					<li class="lista">
						<a href="#">
							<span class="titulo">¿Dónde reciclar?</span>
						</a>
					</li>
				</ul>
        <ul>
					<li class="lista">
						<a href="#">
							<span class="titulo">Inciar Sesión</span>
						</a>
					</li>
				</ul>
			</div>
		</header>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>

<style>






</style>
